body {
    height: 200px;
    width: 200px;
    font-size: 16px;
}

.container {
    object-position: center;
    text-align: center;
}

.colors-online {
    color: #a3be8c;
}

.colors-offline {
    color: #bf616a;
}

.colors-connecting {
    color: #ebcb8b;
}

.dot {
    height: 12px;
    width: 12px;
    background: #ddd;
    border-radius: 50%;
    display: inline-block;
}